<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="com.zpan.dao.UserDAO">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <select id="getEmail" resultType="String">select email from users where email=#{email}</select>

    <select id="getUser"
            resultType="User">select id,email,password,username from users where email=#{email} and password=#{password}</select>

    <insert id="addUser" parameterType="User">
        insert into users(email,password,username) values(#{email},#{password},#{username})
    </insert>

    <update id="update" parameterType="User">
        update users
        <trim prefix="set" suffixOverrides=",">
            <if test="username!=null">username=#{username},</if>
            <if test="password!=null">password=#{password},</if>
        </trim>
        where id=#{id}
    </update>
</mapper>